# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# bot
/bot/node_modules
/bot/.wwebjs_auth
/bot/.wwebjs_cache
/bot/*.log
.env
.env.local

# WhatsApp Sessions & Media (Crucial Security)
/bot_auth_info
/wwebjs_auth
/public/uploads/
